.gameover--modal {

    /* display: flex; */
    flex-flow: column;
    align-items: center;
}


.gameover--modal>div {

    margin: 0 0 0 0;
    width: 96%;
    height: fit-content;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.gameover--modal .h2--title{
    margin: 0;
}

.gameover--modal h3 {
    margin: 8px 0;
}