.user--modal--logged h2 {

    margin: 20px 0 0 0;
}

.user--modal>.signup{

    width: 50%;
}

.user--modal>.login{
    width: 50%;
}

.user--modal {
    height: fit-content;
    min-height: 50vh;
}

.user--modal--logged {
    flex-wrap: wrap;
    height: fit-content;
}

.user--modal--logged>div {
    width: 65px;
    margin: -13px 0 0 0;
    /* height: 65px; */
}

.edit--user {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.edit--user>div {
    
    width: min(36%, 159px);
    max-height: 39px;
}

.edit--user>input {
    
    height: fit-content;
    margin: auto 10px;
}

.add--friend {

    width: 63%;
    /* margin: 0 0 0 -17px; */
}

.add--friend>div {
    
    margin: 0 0 3% 0;
}

.add--friend h3 {
    
    margin: 4px 0;
}

.add--friend>input {
    
    margin: 0 0 0 4%;
}
 
.user--modal>form {
    display: flex;
    flex-flow: column;
    margin: auto;
}

.user--modal input {
    margin: 0 4%;
}

/* .signup div:first-child { not necessary right now
    margin: 6% 0 6% 0;
}

.login div:first-child {
    margin: 6% 0 6% 0;
} */

.form--input {
    display: flex;
    flex-direction: column;
    margin: 6% 0;
    padding: 0 4%;
}

button {
    font-size: 1.5rem;
}


/* RESPONSES MESSAGES */

.message {
    width: 100%;
    text-align: center;
}

/* .error {
    color: red;
} */