

.landing{
    /* width: 100 vw; */
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(0px, 1fr) 320px minmax(0px, 1fr);
    /* grid-template-columns: 1fr minmax(160px, 320px) 1fr; */
    /* grid-template-columns: 1fr 320px 1fr; */
}