.section--right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* justify-content: flex-end; */
}

aside {
    /* margin-right: 40px; */
}

.aside--top {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.aside--top>* {
    margin: 26px 50px;  
}

.aside--bottom {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.aside--bottom>* {
    margin: 26px 50px;
}

.modal {

    display: none;
    position: absolute;

    background-color: brown;
    width: 490px;
    width: 48%;
    /* width: 37%; */
    height: 50%;
    margin: 13% 31% 0 0;

    align-items: flex-start;
    justify-content: space-evenly;

}

.user--modal {

    /* display: none;
    position: absolute;

    background-color: brown;
    width: 37%;
    height: 50%;
    margin: 13% 31% 0 0;

    align-items: flex-start;
    justify-content: space-evenly; */
}

.user--modal>.signup{

    width: 50%;
}

.user--modal>.login{
    width: 50%;
}

.form--input {
    display: flex;
    flex-direction: column;
    margin: 22px 0px;
    padding: 0 10px;
}

.user--modal--logged {
    flex-wrap: wrap;

    /* display: none;
    position: absolute;

    background-color: brown;
    width: 37%;
    height: 50%;
    margin: 13% 31% 0 0;

    align-items: flex-start;
    justify-content: space-evenly; */
}

.user--modal--logged>div {
    width: 65px;
}

.edit--user {

    display: flex;
    flex-wrap: wrap;
}

.edit--user>input {
    
    margin: 0 0 0 12px;
}

.add--friend {

    width: 53%;
    margin: 0 0px 0 -19px;
}

.add--friend>input {
    
    margin: 0 0 0 12px;
}

.gameover--modal {

    /* display: none;
    position: absolute;

    background-color: brown;
    width: 37%;
    height: 50%;
    margin: 13% 31% 0 0;

    align-items: flex-start;
    justify-content: space-evenly; */

}